{% extends "auctions/layout.html" %}

{% block body %}
<div class="container p-4 text-center" style="max-width: 600px;">

    {% if message %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <div class="card inout">
        <div class="card-body m-4">
            <h2 class="card-title">Şifre Sıfırlama Formu</h2>

            <form action="{% url 'password_reset' %}" method="post" class="card-text mb-3">
                {% csrf_token %}

                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Adresi">
                </div>
                <input class="btn btn-info" type="submit" value="Gönder">
            </form>

        </div>
    </div>

</div>

{% endblock %}