{% extends "auctions/layout.html" %}

{% block body %}

<div class="container p-4 text-center" style="max-width: 600px;">


    <div class="card inout">
        <div class="card-body m-4">
            <h2 class="card-title">{{ title }}</h2>
            <p>{{ _("Şifre Hatırlama ?")}} </p>
	<p>{{ _("Emai adresinizi giriniz Size bir mail göndereceğiz ") }}</p>

            <form action="{% url 'password_reset' %}" method="post" class="card-text mb-3">
                {% csrf_token %}
                {{ password_reset_form}}

                <button class="btn btn-secondary my-3" type="submit">{{ _("Email Gönder") }}</button>



            </form>

        </div>
    </div>

</div>

{% endblock %}