{% load static %}
    <section class=" slider_section position-relative">

      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> Sitemize Hoş Geldiniz...</span>
                      <hr>
                    </h2>
                    <h1>
                     Mobilyalar
                    </h1>
                    <p style="text-align:justify">
                      Bu sitede kendinize ait mobilya,beyazeşya, farklı kategoride
                      ne kadar ürününüz varsa ihtiyaç sahiplerine ulaştırabilirsiniz
                    </p>
                    <div>
                      <a href="">Yardımlaşma</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/1.jpeg'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> Kategori Sınırlaması Yoktur</span>
                      <hr>
                    </h2>
                    <h1>
                      Beyaz Eşyalar
                    </h1>
                    <p style="text-align:justify" > Öncelikle sitemize üye olmanız gerekmektedir.
                    Üye olduktan ve kimlik doğrulaması yaptıktan sonra
                    her türlü  ürünü paylaşabilirsiniz!!!
                    </p>
                    <div>
                      <a href=""> Dayanışma</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/2.jpeg'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail_box">
                    <h2>
                      <span> Ve daha Fazlası</span>
                      <hr>
                    </h2>
                    <h1>
                      Her Tür ve Kategoride
                    </h1>
                    <p style="text-align:justify">
                     Temel ahlak kuralları çerçevesinde saygılı  davrandığınız sürece
                      hiçbir sorun yaşamazsınız.Teşekkürler..Hayırlı Günler Dileriz..!!!
                    </p>
                    <div>
                      <a href="">Paylaşım</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'images/3.jpg'%}" alt="" width="400" height="300" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->